<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit a song!</title>
</head>
<body>
    <form method="post" action="/submit">
    <div class="form-group">
        <label for="usr">Song URL from SC or Youtube:</label>
        <input type="text" name="song_url" id="song_url">
    </div>
    <div class="form-group">
        <label for="pwd">Name:</label>
        <input type="text" name="name" id="name">
    </div>
     <button type="submit" class="btn btn-default" onclick="">Create Account</button>
</form>
</body>
</html>